<nav class="container-fluid center-block navbar navbar-expand-lg navbar-inverse">
    <a class="navbar-brand" href="#">LibraMarket</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produits
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/product">new</a>
                    <a class="dropdown-item" href="/category">category</a>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="#">Troc</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reclamations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">reclamation</a>
                    <a class="dropdown-item" href="#">reponse</a>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="#">Panier</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Profil</a>
            </li>
            
        </ul>
    </div>
</nav>